<template>
<select>
  <option v-for="attr in attrs">{{attr}}</option>
</select>
</template>

<script>
import { mapState } from 'vuex'
import store from '@/store'

export default {
  created() {
    this.$store.dispatch('loadAttrs')
  },
  computed: {
    attrs() {
      console.log(new Set([].concat.apply([],this.$store.getters.attrs.map(function(item){
        return item.transponders})).map(function(item){
          return item.downlinkPolarization
      })))
      return Array.from(new Set([].concat.apply([],this.$store.getters.attrs.map(function(item){
        return item.transponders})).map(function(item){
        return item.downlinkPolarization
      })))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 20px;
}
li {
  display: inline-block;
  margin: 10px 10px;
}
a {
  color: #d84bff;
}
.table {
  alignment: center;
}
</style>
