<template>
  <div class="hello">
    <h1>dsgfsd</h1>
    <h2>Essential Links</h2>
    <div>
      <combobox1></combobox1>
      <combobox2></combobox2>
    </div>
  </div>

</template>

<script>
import { mapState } from 'vuex'
import store from '@/store'
import Combobox1 from './combobox/Combobox1.vue'
import Combobox2 from './combobox/Combobox2.vue'
export default {
  components: {
    'combobox1': Combobox1,
    'combobox2': Combobox2
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 20px;
}
li {
  display: inline-block;
  margin: 10px 10px;
}
a {
  color: #d84bff;
}
.table {
  alignment: center;
}
</style>
